html {
    background-color: skyblue;
}

.carousel {
    .item {
        width: 100px;
        height: 100px;
        background-color: coral;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Helvetica";
        font-size: 42px;
        color: darkred;
    }
}
